<html>
    <head>
        <title>Primer django girls  </title>
    </head>
    <body>
        <div>
            <h1><a href="/">Juan Vinuesa  Blog</a></h1>
        </div>

        <div>
            <p>publicado: 14.06.2021, 12:14</p>
            <h2><a href="">Mi primer posteo</a></h2>
            <p>Este es un intento de primero post, estuve haciendo esto toda la manana espero que les guste.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Mi segundo posteo</a></h2>
            <p>Estoy tratando de entender este lenguaje.</p>
        </div>
    </body>
</html>